<!DOCTYPE html>
<html lang="fr">
	<head>
	    <meta charset="utf-8">
	    <title></title>
	    <link href="bootstrap.min.css" rel="stylesheet">
	    <link href="style.css" rel="stylesheet">
	</head>

	<body>
	    <div class="container-fluid">
	        <div class="row">
	        	<div class="col-xs-2 navigation-gauche">
			        <h3>Thèmes</h3>
			        <ul></ul>
		        </div>

	        	<div class="col-xs-8 page-centrale">
		            <div class="col-xs-12">
		                <h1 class="page-header">
		                	<span>Titre de base</span>
		                	<small>
		                    <!-- activation ou désactivation d'une catégorie 
		                    au clic avec mise à jour de la liste en temps réel -->
		                    </small>
		                </h1>
		            </div>

		        	<div class="contenu"></div>
		        </div>

		        <div class="col-xs-2 navigation-droite">
		        	<h3>Années</h3>
		        	<ul></ul>
		        </div>
	        </div>
	    </div>

	    <script src="jquery.js"></script>
	    <script src="script.js"></script>
	</body>
</html>